:root {
	--content-width: 960px;
}

html {
	font-family: "Prospectus Pro", $font-stack-garamond;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: map-get($color, light-gray);
}

body {
	background-color: map-get($color, background);
	background-image: url("../img/bg.png");
	background-repeat: repeat;
}

* {
	box-sizing: border-box;
	
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

main {
	min-height: calc(100vh - 10rem);
}
