/* ----------------------------------------
	Layout / Footer
---------------------------------------- */

.page__footer {
	margin: 0 auto;
	padding: map-get($spacer, 1) calc( 50% - (var(--content-width) / 2) ) 10vh;
	text-align: center;
}
