/* ----------------------------------------
	Layout / Footer
---------------------------------------- */

.page__footer {
	margin: 0 auto;
	padding-top: map-get($spacer, 3);
	padding-bottom: map-get($spacer, 3);
	background-color: map-get($color, yellow);

	@include media(">=for-desktop-up") {
		padding-left: calc( 50% - (var(--content-width) / 2) );
		padding-right: calc( 50% - (var(--content-width) / 2) );

		@supports (display: grid) {
			padding-top: 20vh;
			padding-bottom: 10vh;
		}
	}

	a {
		@include inline-link();

		&::before {
			background-color: map-get($color, gold);
		}
		&:hover,
		&:focus {
			color: map-get($color, black);
			&::after {
				background-color: map-get($color, black);
			}
		}
	}

	@supports (display: grid) {
		display: grid;
		grid-template-columns: 25% 25% 50%;
		grid-auto-rows: auto;
		grid-column-gap: map-get($spacer, 1);
	}
}

.footer__section {
	margin-bottom: map-get($spacer, 2);

	&:last-child {
		margin: 0;
	}

	.recipe-list,
	.drink-list {
		padding-left: map-get($spacer, 1);
		list-style-type: square;
		line-height: 1.6em;

		a {
			font-weight: 400;
		}
	}

	@supports (display: grid) {
		&.--recipes {
			grid-column: span 1;
			grid-row: 1 / 3;
		}

		&.--drinks {
			grid-column: span 1;
			grid-row: 1 / 3;
		}

		&.--copy {
			grid-column: span 1;
			grid-row: 1 / 2;
			hr {
				margin-left: 0;
			}
		}

		&.--social {
			grid-column: span 1;
			grid-row: 2 / 3;
		}
	}

}

.footer__title {
	margin-bottom: 0.75em;
	font-size: modular-scale(0);
	font-style: italic;
	font-weight: 900;
}
