/* ----------------------------------------
	Layout / Header
---------------------------------------- */

.page__header {
	margin-bottom: map-get($spacer, 1);
	padding: map-get($spacer, 1) calc( 50% - (var(--content-width) / 2) );
}

.page__header a {
	position: relative;
	text-transform: uppercase;
	font-size: .875rem;
	letter-spacing: .05em;
	padding: .5rem 0;
	font-weight: 700;
}

.page__header .logo {
	display: block;
	margin-bottom: 1.5rem;
	padding: .5rem 0;
}

.page__header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 40rem) {
	.page__header .logo {
		margin-bottom: 0;
	}

	.page__header {
		flex-direction: row;
		justify-content: space-between;
	}
}
