/* ----------------------------------------
	Layout / Header
---------------------------------------- */

.page__header {
	margin-bottom: map-get($spacer, 1);
	padding: map-get($spacer, 1) / 2;
	
	@include media(">=for-tablet-portrait-up") {
		padding: map-get($spacer, 1);
	}
	
	@include media(">=for-tablet-landscape-up") {
		padding-left: map-get($spacer, 2);
		padding-right: map-get($spacer, 2);
	}
	
	@include media(">=for-desktop-up") {
		padding-left: calc( 50% - (var(--content-width) / 2) );
		padding-right: calc( 50% - (var(--content-width) / 2) );
	}
}
