/* ----------------------------------------
	Layout / Page
---------------------------------------- */

.page {
	position: relative;
}

.page > * {
	margin: 0 auto;
	padding-left: map-get($spacer, 1);
	padding-right: map-get($spacer, 1);
}

.page.--recipes {
	& > .page__body {
		
		@include media(">=for-desktop-up") {
			width: var(--content-width);
			padding-left: 0;
			padding-right: 0;
		}
	}
}
