/* ----------------------------------------
	Layout / Typography
---------------------------------------- */

@import "../_components/font-face";

/**
 * General
 */

html,
body {
	font-family: "Prospectus Pro", $font-stack-garamond;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@for $i from 1 through 6 {
	h#{$i} {
		position: relative;
		display: block;
		margin: 0 0 #{map-get($spacer, 1) / 2};
		font-weight: 700;
	}
}

h1 {
	font-size: modular-scale(4);
	
	@include media(">=for-tablet-landscape-up") {
		font-size: modular-scale(6);
	}
	font-weight: 900;
}

h2 {
	font-size: modular-scale(3);
	
	@include media(">=for-tablet-landscape-up") {
		font-size: modular-scale(5);
	}
}

h3 {
	font-size: modular-scale(2);
	
	@include media(">=for-tablet-landscape-up") {
		font-size: modular-scale(4);
	}
}

h4 {
	font-size: modular-scale(1);
	
	@include media(">=for-tablet-landscape-up") {
		font-size: modular-scale(3);
	}
}

h5 {
	font-size: modular-scale(0);
	
	@include media(">=for-tablet-landscape-up") {
		font-size: modular-scale(2);
	}
}

h6 {
	font-size: modular-scale(0);
	
	@include media(">=for-tablet-landscape-up") {
		font-size: modular-scale(1);
	}
}

p {
	margin: 0 0 #{map-get($spacer, 1) / 2};
	font-weight: 400;
	widows: 3;
	orphans: 3;
	hyphens: auto;
}
	
a {
	color: currentColor;
	text-decoration: none;
}

a:not([class]) {
	position: relative;
	display: inline-block;
	padding: 0 #{map-get($spacer, 1) / 4};
	transition: transform 500ms;
	transform: translateX(0);
	outline: none;
	vertical-align: baseline;
	white-space: nowrap;
	color: map-get($color, dark-gray);
	font-weight: 600;
	
	&::before,
	&::after {
		content: "";
		position: absolute;
		height: 100%;
		transition: background 500ms, color 500ms, transform 500ms;
		pointer-events: none;
		backface-visibility: hidden;
	}
	
	&::before {
		left: 0;
		width: 100%;
		background-color: map-get($color, light-gray);
		z-index: -1;
	}
	
	&::after {
		content: "→";
		left: 100%;
		width: 1em;
		transform: translateX(-1em);
		z-index: -2;
		text-align: center;
		background-color: map-get($color, light-gray);
		background-size: 60% auto;
		color: map-get($color, white);
		pointer-events: auto;
	}
	
	&:hover {
		transform: translateX(-1em);
		
		&::before,
		&::after {
		}
			
		&::before {
		}
		
		&::after {
			transform: translateX(0);
			background-color: map-get($color, blue);
		}
	}
}

ul, ol, dl {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	.page__body & {
		margin-bottom: map-get($spacer, 1) / 2;
		padding-left: map-get($spacer, 1);
		line-height: 1.35em;
		list-style-type: square;
	}
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

:focus {
	outline: 1px fade-out(map-get($color, blue), 0.4) solid;
	outline-offset: map-get($spacer, 1) / 3;
}

::selection {
	background-color: map-get($color, yellow);
	color: map-get($color, blue);
	text-shadow: none;
}


/**
 * Specific
 */

.headline {
	margin-bottom: calc( #{map-get($spacer, 3) / 2} + 7px );
	padding-bottom: #{map-get($spacer, 3) / 2};
	border-bottom: 7px map-get($color, tan) solid;
}

.ingredient__title,
.directions__title,
.tags__title {
	font-size: modular-scale(1);
}
