# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# Logs
# ---------------

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
# ---------------

.npm
node_modules/

# dotenv environment variables file
.env
.env.test

# No version control plz
# ---------------

/kirby
/vendor

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Content
# ---------------

/content/*
!/content/site.txt
!/content/1_recipes/recipes.txt
!/content/2_drinks/drinks.txt
!/content/3_about/about.txt
!/content/home/home.txt
!/content/error/error.txt
!/content/privacy-policy/default.txt
!/content/terms-of-use/default.txt
!/content/search/search.txt

# Media
# ---------------

/media/*
!/media/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license
/site/config/config.php
/site/config/config.localhost.php
