/* ----------------------------------------
	Template / Drinks
---------------------------------------- */

@import "../_utilities/templates";

.page__drinks {
	display: grid;
	grid-gap: map-get($spacer, 1);
}

@include media(">=for-tablet-portrait-up") {
	.page__drinks {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: map-get($spacer, 3) / 2;
	}
}

@include media(">=for-tablet-landscape-up") {
	.page__drinks {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: map-get($spacer, 2);
	}
}

.drink {
	position: relative;
	border-radius: 3px;
	box-shadow: $box-shadow;
	
	&:focus,
	&:hover {
		.drink__title {
			margin-top: 0;
		}
		.drink__subtitle {
			overflow: visible;
			text-overflow: none;
			white-space: normal;
		}
		.drink__caption {
			padding: map-get($spacer, 1);
			background-color: map-get($color, blue);
			color: map-get($color, white);
		}
		.drink__crosshair {
			margin-top: map-get($spacer, 3) / 2;
			margin-bottom: map-get($spacer, 3) / 2;
			&::before,
			&::after {
				background-color: map-get($color, white);
			}
		}
	}
}

.drink__title {
	@include ellipsis;
	display: block;
	margin-top: map-get($spacer, 1) / 2;
	transition: margin 500ms;
	font-size: modular-scale(1);
}

.drink__subtitle {
	@include ellipsis;
	display: block;
	margin-bottom: 0;
	transition: overflow 500ms, text-overflow 500ms, white-space 500ms;
	font-size: modular-scale(0);
	font-weight: 400;
}

.drink__cover {
	position: relative;
}

.drink__caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: map-get($spacer, 1) / 4 map-get($spacer, 1) / 3;
	transform: translate3d(1em, 1em, 0);
	transition: padding 500ms, background-color 500ms, color 500ms;
	border-radius: 3px;
	background-color: tint(map-get($color, light-gray), 67%);
	color: map-get($color, dark-gray);
	box-shadow: $box-shadow;
}

.drink__crosshair {
	margin-bottom: map-get($spacer, 1);
	transition: margin 500ms;
	
	&::before,
	&::after {
		transition: all 500ms;
	}
}

.no-drinks {
	grid-column: span 4;
	display: block;
	font-size: modular-scale(1);
}
