/* ----------------------------------------
	Template / Home Page
---------------------------------------- */

@import "../_utilities/templates";

$nudge: map-get($spacer, 4);

.homepage__intro {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	height: 100vh;
}

.homepage__promos {
	height: 200vh;
	text-align: center;
	background-image: url('https://loremflickr.com/1200/1200/food,elegant/all');
	
	.bored {
		max-width: var(--content-width);
		height: 75vh;
		margin-left: auto;
		margin-right: auto;
		transform: translateY(-#{$nudge});
		background-color: map-get($color, dark-gray);
		color: map-get($color, white);
		box-shadow: $box-shadow;
		z-index: 10;
	}
}
