/* ----------------------------------------
	Template / Recipes
---------------------------------------- */

@import "../_utilities/templates";

.page__recipes {
	display: grid;
	grid-gap: map-get($spacer, 1);
}

@include media(">=for-tablet-portrait-up") {
	.page__recipes {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: map-get($spacer, 3) / 2;
	}
}

@include media(">=for-tablet-landscape-up") {
	.page__recipes {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: map-get($spacer, 2);
	}
}

.recipe {
	position: relative;
	overflow: hidden;
	
	&:focus,
	&:hover {
		.recipe__title {
			margin-top: 0;
		}
		.recipe__subtitle {
			overflow: visible;
			text-overflow: none;
			white-space: normal;
		}
		.recipe__caption {
			padding: map-get($spacer, 1);
			background-color: map-get($color, blue);
			color: map-get($color, white);
		}
		.recipe__crosshair {
			margin-top: map-get($spacer, 3) / 2;
			margin-bottom: map-get($spacer, 3) / 2;
			&::before,
			&::after {
				background-color: map-get($color, white);
			}
		}
	}
}

.recipe__title {
	@include ellipsis;
	display: block;
	margin-top: map-get($spacer, 1) / 2;
	transition: margin 500ms;
	font-size: modular-scale(1);
}

.recipe__subtitle {
	@include ellipsis;
	display: block;
	margin-bottom: 0;
	transition: overflow 500ms, text-overflow 500ms, white-space 500ms;
	transition-delay: 1s;
	font-size: modular-scale(0);
	font-weight: 400;
}

.recipe__cover {
	position: relative;
}

.recipe__caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: map-get($spacer, 1) / 4 map-get($spacer, 1) / 3;
	transition: padding 500ms, background-color 500ms, color 500ms;
	background-color: map-get($color, light-gray);
	color: map-get($color, dark-gray);
}

.recipe__crosshair {
	margin-bottom: map-get($spacer, 1);
	transition: margin 500ms;
	
	&::before,
	&::after {
		transition: all 500ms;
	}
}

.no-recipes {
	grid-column: span 4;
	display: block;
	font-size: modular-scale(1);
}
