/* ----------------------------------------
	Template / Recipe
---------------------------------------- */

@import "../_utilities/templates";

.page__body.recipe {
	
	@include media(">=for-tablet-landscape-up") {
		padding-left: 0;
		padding-right: 0;
	}
}

.recipe__grid {
	
	@include media(">=for-tablet-landscape-up") {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}
}

.recipe__header {
	
	@include media(">=for-tablet-landscape-up") {
		grid-column: 3 / 11;
		grid-row: 1 / 2;
		max-width: var(--content-width);
		padding: 10vh calc( 50% - (var(--content-width) / 2) ) 20vh;
	}
}

.recipe__headline {}

.recipe__subheadline {
	
	@include media(">=for-tablet-landscape-up") {
		position: relative;
		padding-left: map-get($spacer, 8);
		
		&::before {
			content: "";
			position: absolute;
			right: calc(100% - 50px);
			width: 100px;
			height: 61px;
			background: transparent url("../../../assets/img/recipe.png") no-repeat;
			background-size: 100px 61px;
		}
	}
}

.recipe__cover,
.recipe__ingredients,
.recipe__directions,
.recipe__tags {
	margin-bottom: 5vh;
	
	@include media(">=for-tablet-landscape-up") {
		margin-bottom: 0;
	}
}

.recipe__cover {
	@include fluid-aspect(16 9, "> .cover__image");
	
	@include media(">=for-tablet-landscape-up") {
		grid-column: 5 / 13;
		grid-row: 2 / 3;
		z-index: 1;
	}
	
	.cover__image {
		background-color: map-get($color, light-gray);
		object-fit: cover;
	}
	
	.cover__caption {
		@include hide-visually();
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 2;
	}
}

.recipe__ingredients {
	
	@include media(">=for-tablet-landscape-up") {
		position: relative;
		grid-column: 2 / 6;
		grid-row: 2 / auto;
		max-width: calc(var(--content-width) / 2);
		transform: translateY(#{map-get($spacer, 2)});
		z-index: 2;
	}
}


.ingredients {
//	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.15' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
//	border: map-get($spacer, 1) / 2 map-get($color, white) solid;
	transition: transform 500ms;
	
	&:focus {
		transform: translatex( #{map-get($spacer, 2)} );
	}
	
	@include media(">=for-tablet-landscape-up") {
		position: absolute;
		width: 100%;
		padding: map-get($spacer, 2);
		background-color: map-get($color, white);
		box-shadow: 1px 2px 5px 0 fade-out( map-get($color, black), 0.66 );
	}
}

.ingredients__list {
	
	.ingredient {
//		display: inline-block;
	}
}

.recipe__directions {
	margin-top: map-get($spacer, 2);
	
	@include media(">=for-tablet-landscape-up") {
		grid-column: 6 / 11;
		grid-row: 3 / 4;
		max-width: var(--content-width);
		margin-top: map-get($spacer, 3);
	}
	
	ol {
		@include list-reset();
		counter-reset: direction-list;
	}
	
	li {
		position: relative;
		counter-increment: direction-list;
		margin-bottom: map-get($spacer, 1);
		font-size: modular-scale(1);
		z-index: 1;
		
		&::before {
			content: counter(direction-list, decimal-leading-zero);
			position: absolute;
			right: 100%;
			transition: color 500ms;
			transform: translate3d( -#{map-get($spacer, 1) / 2}, -#{map-get($spacer, 1)}, 0 );
			font-size: modular-scale(4);
			font-style: italic;
			font-weight: 700;
			color: map-get($color, light-gray);
			z-index: -1;
		}
		
		&:hover {
			
			&::before {
				color: map-get($color, tan);
			}
		}
		
		&:focus {
			outline-color: transparent;
			
			&::before {
				color: map-get($color, light-blue);
			}
		}
	}
}

.recipe__tags {
	margin-top: map-get($spacer, 1);
	
	@include media(">=for-tablet-landscape-up") {
		grid-column: 6 / 11;
		grid-row: 4 / 5;
		max-width: var(--content-width);
		margin-top: map-get($spacer, 2);
	}
}

.ingredients__title,
.directions__title {
	margin-bottom: map-get($spacer, 3) / 2;
	font-size: modular-scale(2);
	font-weight: 900;
}

.tags__title {
	margin-bottom: map-get($spacer, 3) / 2;
	font-size: modular-scale(1);
	font-weight: 700;
}
