/* ----------------------------------------
	Page / Recipes
---------------------------------------- */

@import "../../scss/_utilities/variables";

.page__recipes {
	display: grid;
	list-style: none;
	grid-gap: 1rem;
	padding-left: 0;
}

@media screen and (min-width: 30em) {
	.page__recipes {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 60em) {
	.page__recipes {
		grid-template-columns: repeat(3, 1fr);
	}

	.page__recipes[data-even] {
		grid-template-columns: repeat(4, 1fr);
	}
}


.page__recipes li {
	overflow: hidden;
	background: map-get($color, light-gray);
}

.page__recipes figure {
	position: relative;
	margin: 0;
	padding-bottom: 80%;
}

.page__recipes figcaption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #fff;
	background: rgba(0, 0, 0, .5);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	line-height: 1.5em;
	padding: 1rem;
	font-size: .875rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .125em;
}

.page__recipes img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all .3s;
}

.page__recipes img:hover {
	opacity: .2;
}
