<nav class="page__breadcrumb">

	<hr class="hr--gold" />

	<ul class="breadcrumbs">
		{% for crumb in site.breadcrumb %}
			<li class="breadcrumbs__crumb{{ crumb.isActive == '1' ? ' -isActive' }}">
				<a href="{{ crumb.url }}">
					{{ crumb.title.words < 6 ? crumb.title : crumb.title|slice(0, 20) ~ '… yada yada…' }}
				</a>
			</li>
		{% endfor %}
	</ul>

</nav>
