<nav id="menu" class="menu">
	
	{% for item in site.children().listed %}
		<a href="{{ item.url }}"{% if item.isActive %} aria-current="page"{% endif %}>{{ item.title }}</a>
	{% endfor %}
	
	<a href="#searchToggle">Search</a>
	
</nav>