<nav id="menu" class="menu">
	
	{% for item in site.children().listed | slice(0, 2) %}
		<a href="{{ item.url }}" class="menu__item"{% if item.isOpen %} aria-current="page"{% endif %} aria-label="{{ item.title }}">
			<span data-title="{{ item.title }}">{{ item.title }}</span>
		</a>
	{% endfor %}
	
	<a href="javascript:void(0)" id="searchToggle" class="menu__item" aria-label="Search">
		<span data-title="Search">Search</span>
	</a>
	
</nav>