<nav id="menu" class="menu">
	
	{% for item in site.children().listed | slice(0, 2) %}
		<a href="{{ item.url }}" class="menu__item"{% if item.isActive %} aria-current="page"{% endif %}>{{ item.title }}</a>
	{% endfor %}
	
	<a href="javascript:void(0)" id="searchToggle" class="menu__item">Search</a>
	
</nav>