<section id="searchForm" class="nav__search">
	<form action="{{ site.url }}/search" class="nav__search-form">
		<input type="search" id="search" class="search__field" name="q" value="{{ query ?? null }}" />
		<input type="submit" class="search__submit" value="Search" />
		<button type="button" id="searchClose" class="search__close">&times;</button>
	</form>
</section>
