/* ----------------------------------------
	Components / Breadcrumb
---------------------------------------- */

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	list-style-type: none;

}

.breadcrumbs__crumb {
	flex: 0 1 auto;
	margin-right: map-get($spacer, 1);
	margin-bottom: map-get($spacer, 1);
}
