/* ----------------------------------------
	Components / Buttons
---------------------------------------- */

#{$all-buttons} {
	display: inline-block;
	margin: 0;
	padding: map-get($spacer, 1) / 4 map-get($spacer, 1) / 2;
	border: 0;
	background-color: map-get($color, light-gray);
}

.button {
	display: inline-block;
	margin: 0;
	padding: map-get($spacer, 1) / 4 map-get($spacer, 1) / 2;
	border: 0;
	background-color: map-get($color, light-gray);
	appearance: none;
}
