/* ----------------------------------------
	Components / Navigation
---------------------------------------- */

$nudge: map-get($spacer, 1);

.nav {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include clearfix();
	transform: translateY(0);
	transition: width 500ms, margin 500ms, transform 500ms;

	&.--is-searching {
		width: calc(100% - #{$nudge});
		transform: translateY($nudge);
	}

	@supports(display: flex) {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&::after {
			display: none;
		}
	}
}

.nav__logo {
	display: block;
	float: left;
	margin-bottom: 0;
	padding-left: map-get($spacer, 1) / 2;

	@supports(display: flex) {
		margin-right: auto;
		padding-left: 0;
		
		@include media(">=for-desktop-up") {
			// visuall align from button padding
			transform: translateX(-#{map-get($spacer, 1) / 2});
		}
	}
}

.menu {
	display: block;
	float: right;
	padding-right: map-get($spacer, 1) / 2;

	@supports(display: flex) {
		padding-right: 0;
		
		@include media(">=for-desktop-up") {
			// visuall align from button padding
			transform: translateX(#{map-get($spacer, 1) / 2});
		}
	}

	&.--is-hidden {
		display: none;
	}
}

.menu__item {
	
	@include nav-link();

	&[aria-current] {
		background-color: map-get($color, light-gray);
	}
}


.skip-to-content {
	position: absolute !important;
	top: map-get($spacer, 1) / 2;
	left: map-get($spacer, 1) / 2;
	@include hide-visually('hide');

	&:focus {
		@include hide-visually('unhide');
	}
}
