/* ----------------------------------------
	Components / Search (in nav)
---------------------------------------- */

.nav__search {
	display: none;
	float: right;
	padding-left: map-get($spacer, 1);
	padding-right: map-get($spacer, 1) / 2;

	@supports (display: flex) {
		padding-right: 0;
	}

	&.--is-active {
		display: block;

		@supports (display: flex) {
			flex: 1;
		}
	}
}

.nav__search-form {

	@supports (display: flex) {
		display: flex;
	}
}

.search__field {
	display: block;
	width: 100%;
	min-width: 100px;

	&::placeholder {
		font-style: italic;
	}
	
	@supports (display: flex) {
		flex: 0 1 100%;
		max-width: 100%;
		width: auto;
	}

	@include media(">=for-desktop-up") {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		transition: box-shadow 500ms;

		&:focus {
			outline: 1px fade-out(map-get($color, light-gray), 0.4) solid;
			outline-offset: map-get($spacer, 1) / 3;
			box-shadow: inset 0 -2px 0 0 map-get($color, blue);
		}
	}
}

.search__close {
	padding-left: map-get($spacer, 1) / 2;
	padding-right: map-get($spacer, 1) / 2;
	font-size: 2em;
	line-height: 1em;
	background-color: transparent;
	color: map-get($color, red);

	@include media(">=for-desktop-up") {
		position: absolute;
		top: 0;
		left: 100%;
		height: 100%;
		height: calc( 100% - #{map-get($spacer, 2)} );
		padding: 0 map-get($spacer, 1) / 2;
		transform: translateY( #{map-get($spacer, 1)} );
		line-height: calc( 100% - #{map-get($spacer, 2)} );
		background-color: map-get($color, red);
		box-shadow: $box-shadow;
		color: map-get($color, white);
	}
}

.search__submit {
//	padding: map-get($spacer, 1) / 2;
//	background-color: map-get($color, blue);
//	color: map-get($color, white);
	padding: 0;
	
	@supports (display: flex) {
		flex: 0 1 auto;
		max-width: 100%;
		width: auto;
	}

	@include media(">=for-desktop-up") {
		.--is-searching & {
			margin-top: map-get($spacer, 1);
			margin-bottom: map-get($spacer, 1);
		}
	}
	
	& > span {
		
	}
}
