/*
https://coolors.co/2b3b4c-1e2732-ff6f4f-dcd9c8-fffef7
https://coolors.co/2b3b4c-1e2732-38aecc-0090c1-fffef7
https://coolors.co/2b3b4c-1e2732-e8c547-fff05a-fffef7
https://coolors.co/2b3b4c-1e2732-845a6d-6e75a8-fffef7
https://coolors.co/2b3b4c-1e2732-f1bf98-8fd5a6-fffef7
*/

@import
	"../../node_modules/normalize.css/normalize",
	"../../node_modules/bourbon/core/bourbon",
	"../../node_modules/include-media/dist/include-media";
	
@import
	"_utilities/variables",
	"_utilities/mixins",
	"_utilities/helpers";

@import
	"_layout/base",
	"_layout/typography",
	"_layout/media",
	"_layout/page",
	"_layout/header",
	"_layout/footer";

@import
	"_components/buttons",
	"_components/crosshair",
//	"_components/font-face": imported in _layout/typography
	"_components/inputs",
	"_components/intro",
	"_components/modals",
	"_components/nav",
	"_components/search",
	"_components/social-icons";
