/* ----------------------------------------
	Utilities / Helpers
---------------------------------------- */

/**
 * Utility Mixins
 */

@mixin list-reset() {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: inherit;
}

/**
 * Utility classes
 */

.--hide-text {
	@include hide-text;
}

.--hide-visually {
	@include hide-visually;
	
	&.--focusable {
		&:active,
		&:focus {
			@include hide-visually("unhide");
		}
	}
}
