/* ----------------------------------------
	Utilities / Mixins
---------------------------------------- */

/**
 * Apply styles to all header elements at once
 */

@mixin headers-all() {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@content;
	}
}


/**
 * Navigation link styles
 */

@mixin nav-link() {
	position: relative;
	display: inline-block;
	margin-top: 0;
	margin-left: map-get($spacer, 1) / 2;
	margin-right: 0;
	margin-bottom: 0;
	overflow: hidden;
	vertical-align: top;
	perspective: 600px;
	perspective-origin: 50% 50%;

	&:focus,
	&:hover {
		outline: none;
		
		span {
			background-color: map-get($color, blue);
			transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
		}
	}
	
	span {
		display: block;
		position: relative;
		padding: map-get($spacer, 1) / 2;
		transition: all 400ms ease;
		transform-origin: 50% 0%;
		transform-style: preserve-3d;
		
		&:after {
			content: attr(data-title);
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			padding: map-get($spacer, 1) / 2;
			color: map-get($color, white);
			background: map-get($color, blue);
			transform-origin: 50% 0%;
			transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
		}
	}

	&:first-child {
		margin-left: 0;
	}
}
