/* ----------------------------------------
	Utilities / Variables
---------------------------------------- */

/**
 * Vendor
 * - Bourbon
 * - Include-Media
 */

$bourbon: (
	"contrast-switch-dark-color": #2b3b4c,
	"contrast-switch-light-color": #e8e7e1,
	"global-font-file-formats": ("eot", "ttf", "woff2", "woff"),
	"modular-scale-base": 1em 1.25em,
	"modular-scale-ratio": 1.618,
	"rails-asset-pipeline": false,
);

$breakpoints: (
	for-phone-only: 599px,
	for-tablet-portrait-up: 600px,
	for-tablet-landscape-up: 900px,
	for-desktop-up: 1200px,
	for-big-desktop-up: 1800px
);

//$breakpoints: (
//	xxs: 375px,
//	xs: 425px,
//	sm: 540px,
//	md: 64em,
//	lg: 64em
//	xl: 64em
//	xxl: 64em
//);


/**
 * Spacing
 */

$spacer: (
	0: 0,
	1: 1.125rem,
	2: 2.25rem,
	3: 3.375rem,
	4: 4.5rem,
	5: 5.625rem,
	6: 6.75rem,
	7: 7.875rem,
	8: 6.5rem
);


/**
 * Colors
 */

$color: (
	white: #fffef7,
	black: #1e2732,
	dark-gray: #2b3b4c,
	gray: #989ca1,
	light-gray: #e8e7e1,
	tan: #f1bf98,
	light-tan: #dcd9c8,
	red: #ff6f4f,
	blue: #0090c1,
	light-blue: #38aecc,
	green: #09814a,
	light-green: #8fd5a6,
	yellow: #fff05a,
	gold: #e8c547,
	orange: #a24936,
	purple: #6e75a8
);
