/* ----------------------------------------
	Utilities / Variables
---------------------------------------- */

/**
 * Colors
 */

$color: (
	white: #fffef7,
	black: #1e2732,
	dark-gray: #2b3b4c,
	gray: #989ca1,
	light-gray: #e8e7e1,
	tan: #f1bf98,
	light-tan: #dcd9c8,
	red: #ff6f4f,
	blue: #0090c1,
	light-blue: #38aecc,
	green: #09814a,
	light-green: #8fd5a6,
	yellow: #fff05a,
	gold: #e8c547,
	orange: #a24936,
	purple: #6e75a8
);
