{% extends '@templates/default.twig' %}
{% set mainClass = 'album' %}

{% block content %}
	<article>

		<header>
<!--
			<?php if ($cover = $page->cover()): ?>
			<figure class="album-cover">
				<?= $cover->crop(1024, 768) ?>
				<figcaption>
-->
					<h1>{{ page.headline ?: page.title }}</h1>
<!--
				</figcaption>
			</figure>
			<?php endif ?>
-->
		</header>

		<div class="album-text text">
			{{ page.description.kirbytext | raw }}

			{% if page.tags is defined and page.tags is not empty %}
				<p class="album-tags tags">{{ page.tags }}</p>
			{% endif %}
		</div>

		<?php if ($gallery): ?>
		<ul class="album-gallery" <?= attr(['data-even' => $gallery->isEven(), 'data-count' => $gallery->count()], ' ') ?>>
			<?php foreach ($gallery as $image): ?>
			<li>
				<figure>
					<a href="<?= $image->link()->or($image->url()) ?>">
						<?= $image->crop(800, 1000) ?>
					</a>
				</figure>
			</li>
			<?php endforeach ?>
		</ul>
		<?php endif ?>
	</article>
{% endblock %}
